#myProgress {
  border: solid rgb(125,20,60) 2px;
  padding: 2px;
}

.col-sm {
  border: solid black 1px;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  height: 500px;
}

.data {
  width: 100%;
  border-top: inherit;
  padding-top: inherit;
}
